<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkiline</title>
    <link rel="icon"
        href="images/fotourl.jpg"
        type="image/x-icon">

    <link rel="stylesheet" href="stylesheets/registracion.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <header class="uk-background-primary">
        <section class=" uk-container uk-container-large">
            <div class="">
                <nav class="" uk-navbar>
                    <div class="uk-navbar-left">
                        <h2 class="logo"><a href="/home">Alkiline</a></h2>
                    </div>
                    <div class="uk-navbar-center">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/agregarPost">Agregar Post</a></li>
                            <li><a href="/miPerfil">Mi Perfil</a></li>
                            <li><a href="/login">LogIn</a></li>
                            <li><a href="/registracion">Registrarse</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li>
                                <form action="" class="uk-search uk-search-default">
                                    <span uk-search-icon></span>
                                    <input type="search" class="uk-search-input" placeholder="Buscar...">
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center contenedor-grande">
                    
                        <div class="contenedor-formulario">
                            <div class="titulo"><h1>Alkiline</h1></div>
                               <div class="fraseIngresarInfo"><p class="ingresarInfo">Ingres치 tu informaci칩n personal para crear una cuenta y estar conectado con el mundo!</p>
                            </div>
                            <form id="frmRegistracion" class="box form-inline my-2 my-lg-0" action="/registracion" method="POST">
                              <input class="form-control mr-sm-2" type="text" id="txtNombre" placeholder="Nombre" name="nombreUsuario">
                              <br>
                              <input type="email" id="txtEmail" placeholder="Email" name="emailUsuario">
                              <br>
                              <input type="password" id="txtPassword" placeholder="Contrase침a" name="passwordUsuario">
                              <br>
                              <input type="date" id="txtFechaNacimiento" placeholder="Fecha de Nacimiento (dd/mm/yyyy)" name="fechaDeNacimientoUsuario">
                              
                             <p class="defineGenero">Seleccion치 tu genero</p>
                             <div class="Men">
                                <input type="radio" class="S" name="S" value= "Men">  Men
                            </div>
                             
                             <div class="Wom">
                                  <input type="radio" class="S" name="S" value= "Women">Women
                            </div>
                            
                            <div class="Ot">
                                 <input type="radio" class="S" name="S" value= "Other"> Other
                            </div>
                                 <input type="submit" placeholder="Log In">
                            </form>
                    
            
                
            </div>
        </div>

        
    </main>

    <footer class="uk-position-bottom uk-position-fixed uk-background-primary uk-flex uk-flex-between uk-flex-middle">
        <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li><a href="" uk-icon="instagram"></a></li>
            <li><a href="" uk-icon="facebook"></a></li>
            <li><a href="" uk-icon="twitter"></a></li>
        </ul>
        <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li>Manuel Simon</li>
            <li>Marcos Hogg</li>
            <li>Nicolas Yahni</li>
        </ul>
    </footer>


</body>

</html>