<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkiline</title>
    <link rel="icon"
    href="images/fotourl.jpg"
    type="image/x-icon">

    <link rel="stylesheet" href="stylesheets/resultadoBusqueda.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2>(Mostar resultados de busqueda)</h2>
                <ul>
                    <% for( let i = 0; i < usuarios.length; i++) {%>
                        <li>
                            <a href="detalleUsuario/<%usuarios[i].IdUsuario%>"><%= usuarios[i].Nombre_Usuario%></a>
                        </li>
                        <%}%>
                        
                    
                    
                </ul>
<p>no entiendo el error porque no lleva el id a la url</p>
            </div>
        </div>
    </main>

    <footer class="uk-position-bottom uk-position-fixed uk-background-primary uk-flex uk-flex-between uk-flex-middle">
        <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li><a href="" uk-icon="instagram"></a></li>
            <li><a href="" uk-icon="facebook"></a></li>
            <li><a href="" uk-icon="twitter"></a></li>
        </ul>
        <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li>Manuel Simon</li>
            <li>Marcos Hogg</li>
            <li>Nicolas Yahni</li>
        </ul>
    </footer>


</body>

</html>