.contraseñaPost{
    color: black;
    width: 200px;
    height: 30px;
}

.usuarioPost{
    color: black;
    width: 200px;
    height: 30px;
}
.botonPost{
    color: black;
    width: 200px;
    height: 30px;
}